body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 20px;
  padding: 10px;
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 2.5em;
}

h3 {
  text-align: left;
  margin-top: 30px;
  font-size: 1.8em;
}

.equation1,
.equation2 {
  font-size: 1.3em;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 63%;
}

.equation2 {
  width: 22%;
}

.equation p {
  text-align: center;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-section {
  flex: 1;
  min-width: 45%;
  margin: 10px;
}

.form-container {
  text-align: center;
  margin-top: 30px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-container .form-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.form-container label {
  margin: 5px 0;
}

.form-container input {
  padding: 5px;
  margin-bottom: 10px;
}

.form-container .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.form-container button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #d3d3d3;
  color: #333;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plot-container1 {
  text-align: center;
  margin-top: 30px;
}

.plot-container1 img {
  border: none;
}

.plot-container2 {
  text-align: left;
  margin-top: 30px;
  width: 100%;
}

.plot-container2 img {
  border: none;
}

.loader {
  display: none;
  margin: 10px auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #d3d3d3;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 175px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.social-links a:hover {
  color: #ccc;
}

.developer-link {
  color: #00bfff;
  text-decoration: none;
}

.developer-link:hover {
  text-decoration: underline;
}

body,
h1 {
  font-family: "Raleway", Arial, sans-serif
}

h1 {
  letter-spacing: 6px
}

.w3-row-padding img {
  margin-bottom: 12px
}