<div class="w3-container">
    <div class="content-row">
        <!-- Description and Equations -->
        <div class="content-section w3-container">
            <script>
                function handleFormSubmit(event, loaderId) {
                    event.preventDefault();
                    var loader = document.getElementById(loaderId + '-bar');
                    loader.style.display = 'block';

                    // Simulate form submission delay for demonstration
                    setTimeout(function() {
                        event.target.submit();
                    }, 2000); // Adjust delay as needed
                }
            </script>

            <h4>\( r_1 \) v/s \( K_1 \)</h4>
            <div class="form-container w3-container">
                <form action="/plot" method="post" onsubmit="return handleFormSubmit(event, 'plot-loader')" class="w3-form">
                    <div class="form-row w3-row">
                        <div class="form-group w3-col">
                            <label for="k1_start">\( K_1 \) start:</label>
                            <input type="number" step="any" id="k1_start" name="k1_start" value="{{ request.form.k1_start }}" required class="w3-input">
                        </div>
                        <div class="form-group w3-col">
                            <label for="k1_end">\( K_1 \) end:</label>
                            <input type="number" step="any" id="k1_end" name="k1_end" value="{{ request.form.k1_end }}" required class="w3-input">
                        </div>
                        <div class="form-group w3-col">
                            <label for="k2">\( K_2 \):</label>
                            <input type="number" step="any" id="k2" name="k2" value="{{ request.form.k2 }}" required class="w3-input">
                        </div>
                        <div class="form-group w3-col">
                            <label for="n">\( N \):</label>
                            <input type="number" id="n" name="n" value="{{ request.form.n }}" required class="w3-input">
                        </div>
                        <div class="form-group w3-col">
                            <label for="dk">\( dk \):</label>
                            <input type="number" step="any" id="dk" name="dk" value="{{ request.form.dk }}" required class="w3-input">
                        </div>
                    </div>
                    <div class="button-container w3-center">
                        <button type="submit" style="padding: 5px; font-size: 1em;" class="w3-button w3-light-grey">Start</button>
                    </div>
                    <div class="loader-bar-container" id="plot-loader-bar" style="display: none;">
                        <main>
                            <svg class="ip" viewBox="0 0 256 128" width="64px" height="32px" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                                        <stop offset="0%" stop-color="#5ebd3e" />
                                        <stop offset="33%" stop-color="#ffb900" />
                                        <stop offset="67%" stop-color="#f78200" />
                                        <stop offset="100%" stop-color="#e23838" />
                                    </linearGradient>
                                    <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                                        <stop offset="0%" stop-color="#e23838" />
                                        <stop offset="33%" stop-color="#973999" />
                                        <stop offset="67%" stop-color="#009cdf" />
                                        <stop offset="100%" stop-color="#5ebd3e" />
                                    </linearGradient>
                                </defs>
                                <g fill="none" stroke-linecap="round" stroke-width="16">
                                    <g class="ip__track" stroke="#ddd">
                                        <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                                        <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                                    </g>
                                    <g stroke-dasharray="180 656">
                                        <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                                        <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                                    </g>
                                </g>
                            </svg>
                        </main>
                    </div>
                </form>
            </div>

            <div class="plot-container1 w3-center" id="plot">
                {% if plot_url %}
                    <img src="data:image/png;base64,{{ plot_url }}" alt="Plot of r1 v/s K1">
                {% endif %}
            </div>

            <h4>&theta; v/s \( t \)</h4>
            <div class="form-container w3-container">
                <form action="/second_simulation" method="post" onsubmit="return handleFormSubmit(event, 'animate-loader')" class="w3-form">
                    <div class="form-row w3-row">
                        <div class="form-group w3-col">
                            <label for="n2">\( N \):</label>
                            <input type="number" id="n2" name="n2" value="{{ request.form.n2 }}" required class="w3-input">
                        </div>
                        <div class="form-group w3-col">
                            <label for="k1_2">\( K_1 \):</label>
                            <input type="number" step="any" id="k1_2" name="k1_2" value="{{ request.form.k1_2 }}" required class="w3-input">
                        </div>
                        <div class="form-group w3-col">
                            <label for="k2_2">\( K_2 \):</label>
                            <input type="number" step="any" id="k2_2" name="k2_2" value="{{ request.form.k2_2 }}" required class="w3-input">
                        </div>
                    </div>
                    <div class="button-container w3-center">
                        <button type="submit" style="padding: 5px; font-size: 1em;" class="w3-button w3-light-grey">Start</button>
                    </div>
                    <div class="loader-bar-container" id="animate-loader-bar" style="display: none;">
                        <main>
                            <svg class="ip" viewBox="0 0 256 128" width="64px" height="32px" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                                        <stop offset="0%" stop-color="#5ebd3e" />
                                        <stop offset="33%" stop-color="#ffb900" />
                                        <stop offset="67%" stop-color="#f78200" />
                                        <stop offset="100%" stop-color="#e23838" />
                                    </linearGradient>
                                    <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                                        <stop offset="0%" stop-color="#e23838" />
                                        <stop offset="33%" stop-color="#973999" />
                                        <stop offset="67%" stop-color="#009cdf" />
                                        <stop offset="100%" stop-color="#5ebd3e" />
                                    </linearGradient>
                                </defs>
                                <g fill="none" stroke-linecap="round" stroke-width="16">
                                    <g class="ip__track" stroke="#ddd">
                                        <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                                        <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                                    </g>
                                    <g stroke-dasharray="180 656">
                                        <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                                        <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                                    </g>
                                </g>
                            </svg>
                        </main>
                    </div>
                </form>
            </div>

            <div class="plot-container2 w3-center" id="second_plot">
                {% if second_plot_url %}
                    <img src="data:image/gif;base64,{{ second_plot_url }}" alt="Second Simulation Animation">
                {% endif %}
            </div>
        </div>
    </div>
</div>
